.delete {
  text-align: right;
}

.userWrapper {
  position: relative;
  height: fit-content;
  width: 220px;
  background-color: blue;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
}

.padding {
  padding: 3px;
}

.email {
  font-size: small;
}
