.delete {
  text-align: right;
}

.userWrapper {
  position: relative;
  height: fit-content;
  width: 220px;
  background-color: blue;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
}

.padding {
  padding: 3px;
}

.email {
  font-size: small;
}

.editWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  font-size: 10px;
}

.edit:hover {
  background-color: aliceblue;
  border-radius: 4px;
}

.checked {
}
